commons/isis-plugin-api/src/main/resources/schema/isis-template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.isis.cm/config/isis-template"
        xmlns:tns="http://www.isis.cm/config/isis-template"
        elementFormDefault="qualified"
        xmlns:list="http://www.isis.cm/config/list-view"
        xmlns:editor="http://www.isis.cm/config/editor-area"
        xmlns:dashboard="http://www.isis.cm/config/dashboard">
        <xs:import namespace="http://www.isis.cm/config/list-view" schemaLocation="isis-listview.xsd"/>
        <xs:import namespace="http://www.isis.cm/config/editor-area" schemaLocation="isis-editorarea.xsd"/>
        <xs:import namespace="http://www.isis.cm/config/dashboard" schemaLocation="isis-dashboard.xsd"/>

        <xs:element name="context">
            <!-- Create context type represented configuration of item -->
            <xs:complexType>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="list:list-view" minOccurs="0" maxOccurs="1" xmlns:list="http://www.isis.cm/config/list-view" />
                        <xs:element ref="editor:editor-area" minOccurs="0" maxOccurs="1" xmlns:editor="http://www.isis.cm/config/editor-area"/>
                    </xs:sequence>
                    <xs:sequence>
                        <xs:element ref="dashboard:dashbord" minOccurs="1" maxOccurs="1" xmlns:dashboard="http://www.isis.cm/config/dashboard" />
                    </xs:sequence>
                </xs:choice>
                <xs:attribute name="name" type="xs:string" />
                <xs:attribute name="action" type="xs:string" default="defaultAction"/>
            </xs:complexType>
        </xs:element>

</xs:schema>