isis-plugin-api/src/main/resources/schema/controllers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.isis.cm/config/controllers"
        xmlns="http://www.isis.cm/config/controllers"
        elementFormDefault="qualified">

    <!-- Root element -->
    <xsd:element name="controllers">

        <xsd:complexType>
            <xsd:sequence>

                <!-- controller elements -->
                <xsd:element name="controller"
                             minOccurs="1"
                             maxOccurs="unbounded" >

                    <xsd:complexType>

                        <xsd:attribute name="name"
                                       type="xsd:string"
                                       use="required"/>

                    </xsd:complexType>

                </xsd:element>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

</xsd:schema>